body {
  background: #f2f2f2;
  background: -moz-linear-gradient(top, #f2f2f2 0%, #f2f2f2 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f2f2f2), color-stop(100%, #f2f2f2));
  background: -webkit-linear-gradient(top, #f2f2f2 0%, #f2f2f2 100%);
  background: -o-linear-gradient(top, #f2f2f2 0%, #f2f2f2 100%);
  background: -ms-linear-gradient(top, #f2f2f2 0%, #f2f2f2 100%);
  background: linear-gradient(top, #f2f2f2 0%, #f2f2f2 100%); }

h1, h2, h3, h4, h5, h6 {
   margin-left: -10px;
   margin-right: -10px;
   background-color:#ffffdd;
   color: #555;
   text-shadow: 0 1px 1px #999; }

#top-panel {
    background: none; }
  #top-panel td#login-field span a {
    background-color: #333;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#4D4D4D), to(#333));
    padding: .4em 1.2em .4em 1.2em;
    border-radius: 4px 4px 4px 4px;}
  #top-panel td #searchform a {
    background: none;
    height: auto;
    width: auto; }
  #top-panel td > a {
    background: url("http://osucws.github.com/jenkins-isotope-style/jenkins_logo.png") 0 0 no-repeat;
    display: block;
    width: 199px;
    height: 64px;
    margin: 10px 0 10px 10px; }
    #top-panel td > a img {
      display: none; }

#projectstatus {
  background: #fff; }
  #projectstatus tr:nth-of-type(odd) {
    background-color: #fafafa; }
    #projectstatus tr:nth-of-type(odd):hover {
      background-color: #f0f0f0; }
  #projectstatus tr:nth-of-type(even) {
    background-color: white; }
    #projectstatus tr:nth-of-type(even):hover {
      background-color: #f0f0f0; }

#left-top-nav {
  border-left: none; }

#side-panel {
  background-color: #f2f2f2; }
  #side-panel > div:not(#navigation) {
    display: none; }
  #side-panel .task a {
    display: inline-block;
    text-decoration: none;
    width: 10%; }
    #side-panel .task a + a {
      width: 83%;
      padding: 4px; }
      #side-panel .task a + a:hover {
        background-color: #e5e5e5;width: 83% }
    #side-panel .task a:hover {
      text-decoration: underline; }

#main-panel {
  background: #fff; }
  #main-panel > h1 {
    margin-top: 0; }

#main-table {
  border-top: 0;
  border-bottom: 0; }

#description div {
   margin-left: -10px;
   margin-right: -10px;
   font-size: 1.7em;
   font-weight: 100;
   padding-bottom: 3px;
   padding-left: 10px;
   padding-right: 10px;
   background-color:#ffffdd;
   color: #555;
   text-shadow: 0 1px 1px #999; }

#footer {
  border-top: 1px solid #ccc; }

#view-message #description a img {
  padding-right: 4px; }

#breadcrumbs {
  border-bottom: 20px solid #f2f2f2 !important;
  font-size: 20px; }

#breadcrumbs li a:link, #breadcrumbs li a:visited {
  text-decoration: none;
  color: #c34500 !important;
  font-weight: 900;
}

#breadcrumbs LI A {
    display:block;
    padding:0 15px 0 0;
    background:url('http://osucws.github.com/jenkins-isotope-style/breadcrumb.gif') no-repeat right center !important;
}

div.dashboard {
   padding-top: 20px;
}

#viewList td.active {
   border-radius: 8px 8px 0px 0px;
}

#viewList td.inactive a {
   border-radius: 8px 8px 0px 0px;
   text-decoration: none;
   color: #c34500;
}

#viewList td.inactive:hover {
   border-radius: 8px 8px 0px 0px;
   text-decoration: none;
   background-color: #f2f2f2;
   color: #000;
}

#login-field SPAN {
    background-color: #333;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#4D4D4D), to(#333));
    padding: .4em 1.2em .4em 1.2em;
    border-radius: 4px 4px 4px 4px;
}

input#search-box {
   height: 1.7em;
   border-radius: 10px;
   border: 1px solid #ddd;
   -moz-transition: all 1.5s ease;
   -webkit-transition: all 1.5s ease;
   transition: all 1.5s ease;
}

table.pane > tbody > tr > td {
  border: 1px #f2f2f2 solid;
}

table.pane > th {
  border: 1px #f2f2f2 solid;
}

#executors {
   background-color: #fff;
}

table.pane > tbody > tr > td:last-child {
  border-right: 1px #f2f2f2 solid;
  border-left: 1px #f2f2f2 solid;
}

.bigtable tr {
  border: 1px solid #f2f2f2;
}
